.env
.env*
feautures.md
done.md
node_modules
/logs
/storage
/coverage
PROJECT_OVERVIEW.md
/dist
.vscode/
.idea/
*.sublime-workspace
*.sublime-project
ATOMIC_CLI_ARCHITECTURE.md
CLI_STYLING.md
cli-bot1-changes.patch

npm-debug.log*
yarn-debug.log*
yarn-error.log*

*.tsbuildinfo
